/*==============
    COLOURS
==============*/

$color-p0: #3563DE;
$color-e0: #E8892B;
$color-b0: #021036;
$color-b1: #525D7A;
$color-w0: #FFFFFF;
$color-w-1: #EFF0F0;

/*==============
   TYPOGRAPHY
==============*/

$font-outfit: "Outfit", Arial, Helvetica, sans-serif;
$font-montserrat: "Montserrat", Arial, Helvetica, sans-serif;
